In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("weather.csv")

In [3]:
df

,Formatted_Date,Summary,Precip_Type,Temperature,Apparent_Temperature,Humidity,Wind_Speed(km/h),Wind_Bearing(degrees),Visibility(km),Loud_Cover,Pressure(millibars),Daily_Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,0,1016.16,Partly cloudy starting in the morning.

In [5]:
df1= pd.read_excel("weather.xlsx")

In [6]:
df1

,Formatted_Date,Summary,Precip_Type,Temperature,Apparent_Temperature,Humidity,Wind_Speed(km/h),Wind_Bearing(degrees),Visibility(km),Loud_Cover,Pressure(millibars),Daily_Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,0,1016.16,Partly cloudy starting in the morning.

In [7]:
weather_data={
    "Formatted_Date":['2016-09-09 20:00:00.000 +0200', '2016-09-09 20:00:00.000 +0200','2016-09-09 20:00:00.000 +0200','2016-09-09 20:00:00.000 +0200'],
    "Summary":['Partly Cloudy','Partly Cloudy','Partly Cloudy','Partly Cloudy'],
    "Temperature":[9.4722,9.3555,20.438,26.583]
}

df3=pd.DataFrame(weather_data)
df3

                  Formatted_Date        Summary  Temperature
0  2016-09-09 20:00:00.000 +0200  Partly Cloudy       9.4722
1  2016-09-09 20:00:00.000 +0200  Partly Cloudy       9.3555
2  2016-09-09 20:00:00.000 +0200  Partly Cloudy      20.4380
3  2016-09-09 20:00:00.000 +0200  Partly Cloudy      26.5830

In [9]:
weather_data=[
    ('2016-09-09 20:00:00.000 +0200', '2016-09-09 20:00:00.000 +0200','2016-09-09 20:00:00.000 +0200'),
    ('Partly Cloudy','Partly Cloudy','Partly Cloudy'),
    (9.4722,9.3555,20.438)
]

df4=pd.DataFrame(weather_data,columns=["Formatted_Date","Summary", "Temperature"])

In [10]:
df4

,Formatted_Date,Summary,Temperature
0,2016-09-09 20:00:00.000 +0200,2016-09-09 20:00:00.000 +0200,2016-09-09 20:00:00.000 +0200
1,Partly Cloudy,Partly Cloudy,Partly Cloudy
2,9.4722,9.3555,20.438